{% include "navbar.html" %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<style>
    .navbar{
        background-color: black;
    }
    .bg {
      /* The image used */
      background-image: url("img_girl.jpg");
    
      /* Full height */
      height: 50%;
    
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .roster-image{
        width: 100%
       
    }
    
    .header{
        
        margin-bottom: none;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    </style>
    <body>
    
    
    <!---Page Title -->


<div class="header-2">
    <nav class="navbar" style="background-color: red; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30px;">
        <div style="color: white; padding-left: 115px;"><h4>Roster</h4></style>
    </nav>
</div>
    <!---Stat Banner -->
    <div class="container-fluid" class="container-fluid1">
        <div class="row"><img class="roster-image" src="{{user_images5}}" alt="currystats"></div>
    </div>
    <!---Stat Chart -->
    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped">
                <class="thead">
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Fieldgoal %</th>
                    <th>Freethrow</th>
                    <th>3 Point Made</th>
                    <th>Points</th>
                    <th>Assist</th>
                    <th>Rebounds</th>
                    <th>Steals</th>
                    <th>Blocks</th>
                    <th>Turnovers</th>
                    <tr>
                        <td>
                          <b>
                           <a href="/curryroster">S.Curry</a>  
                         </b>
                         <td><b>PG</b></td>
                        <td><b>11/21</b></td>
                        <td><b>6/6</b></td>
                        <td><b>5</b></td>
                        <td><b>31</b></td>
                        <td><b>7</b></td>
                        <td><b>7</b></td>
                        <td><b>1</b></td>
                        <td><b>0</b></td>
                        <td><b>3</b></td>
                    </tr>
                    <tr>
                        <td><b><a href="/njokicroster">N. Jokic</a></b></td>
                        <td><b>SG</b></td>
                        <td><b>10/20</b></td>
                        <td><b>5/6</b></td>
                        <td><b>2</b></td>
                        <td><b>27</b></td>
                        <td><b>6</b></td>
                        <td><b>5</b></td>
                        <td><b>1</b></td>
                        <td><b>1</b></td>
                        <td><b>3</b></td>
                    </tr>
                    <tr>
                        <td><b><a href="/jamesroster">L.James</a></b></td>
                        <td><b>SG</b></td>
                        <td><b>10/22</b></td>
                        <td><b>3/5</b></td>
                        <td><b>2</b></td>
                        <td><b>25</b></td>
                        <td><b>9</b></td>
                        <td><b>7</b></td>
                        <td><b>1</b></td>
                        <td><b>1</b></td>
                        <td><b>3</b></td>
                    </tr>
                    <tr>
                        <td><b><a href="/giannisroster">G. Antetokounmpo</a></b></td>
                        <td><b>PF</b></td>
                        <td><b>11/21</b></td>
                        <td><b>8/11</b></td>
                        <td><b>1</b></td>
                        <td><b>31</b></td>
                        <td><b>4</b></td>
                        <td><b>17</b></td>
                        <td><b>0</b></td>
                        <td><b>1</b></td>
                        <td><b>4</b></td>
                    </tr>
                    <tr>
                        <td><b><a href="/ldoncicroster">L.Doncic</a></b></td>
                        <td><b>C</b></td>
                        <td><b>19/28</b></td>
                        <td><b>20/24</b></td>
                        <td><b>1</b></td>
                        <td><b>59</b></td>
                        <td><b>8</b></td>
                        <td><b>11</b></td>
                        <td><b>1</b></td>
                        <td><b>7</b></td>
                        <td><b>5</b></td>
                    </tr>
                     
                    
                  </tr>
                </thead>
            </table>
        </div>
    </div>